<a href="https://colab.research.google.com/github/danco87/Wine/blob/master/Capstone_wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.5)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.6.16)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 63 bytes

In [0]:
!kaggle datasets download -d sgus1318/winedata

Downloading winedata.zip to /content
  0% 0.00/95.8k [00:00<?, ?B/s]
100% 95.8k/95.8k [00:00<00:00, 65.3MB/s]

In [0]:
!unzip winedata.zip

Archive:  winedata.zip
  inflating: winequality_white.csv
  inflating: winequality_red.csv

In [0]:
import pandas as pd
import missingno as msno
import numpy as np
import matplotlib.pyplot as plt
import scipy

In [0]:
df_red = pd.read_csv('winequality_red.csv')

In [0]:
df_red.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [0]:
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [0]:
df_white = pd.read_csv('winequality_white.csv')

In [0]:
df_white.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [0]:
df_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [0]:
compare_red_df = pd.DataFrame(columns=['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides',
                                       'free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol'])

In [0]:
compare_red_df['fixed acidity'] = scipy.stats.pearsonr(x=df_red['fixed acidity'], y=df_red.quality)
compare_red_df['volatile acidity'] = scipy.stats.pearsonr(x=df_red['volatile acidity'], y=df_red.quality)
compare_red_df['citric acid'] = scipy.stats.pearsonr(x=df_red['citric acid'], y=df_red.quality)
compare_red_df['residual sugar'] = scipy.stats.pearsonr(x=df_red['residual sugar'], y=df_red.quality)
compare_red_df['chlorides'] = scipy.stats.pearsonr(x=df_red['chlorides'], y=df_red.quality)
compare_red_df['free sulfur dioxide'] = scipy.stats.pearsonr(x=df_red['free sulfur dioxide'], y=df_red.quality)
compare_red_df['total sulfur dioxide'] = scipy.stats.pearsonr(x=df_red['total sulfur dioxide'], y=df_red.quality)
compare_red_df['density'] = scipy.stats.pearsonr(x=df_red['density'], y=df_red.quality)
compare_red_df['pH'] = scipy.stats.pearsonr(x=df_red['pH'], y=df_red.quality)
compare_red_df['sulphates'] = scipy.stats.pearsonr(x=df_red['sulphates'], y=df_red.quality)
compare_red_df['alcohol'] = scipy.stats.pearsonr(x=df_red['alcohol'], y=df_red.quality)

In [0]:
compare_red_df = compare_red_df.rename(index={0:'pearson coefficient',1:'p-val'})

In [0]:
compare_red_df.head()

                     fixed acidity  ...       alcohol
pearson coefficient   1.240516e-01  ...  4.761663e-01
p-val                 6.495635e-07  ...  2.831477e-91

[2 rows x 11 columns]

In [0]:
compare_white_df = pd.DataFrame(columns=['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides',
                                       'free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol'])

In [0]:
compare_white_df['fixed acidity'] = scipy.stats.pearsonr(x=df_white['fixed acidity'], y=df_white.quality)
compare_white_df['volatile acidity'] = scipy.stats.pearsonr(x=df_white['volatile acidity'], y=df_white.quality)
compare_white_df['citric acid'] = scipy.stats.pearsonr(x=df_white['citric acid'], y=df_white.quality)
compare_white_df['residual sugar'] = scipy.stats.pearsonr(x=df_white['residual sugar'], y=df_white.quality)
compare_white_df['chlorides'] = scipy.stats.pearsonr(x=df_white['chlorides'], y=df_white.quality)
compare_white_df['free sulfur dioxide'] = scipy.stats.pearsonr(x=df_white['free sulfur dioxide'], y=df_white.quality)
compare_white_df['total sulfur dioxide'] = scipy.stats.pearsonr(x=df_white['total sulfur dioxide'], y=df_white.quality)
compare_white_df['density'] = scipy.stats.pearsonr(x=df_white['density'], y=df_white.quality)
compare_white_df['pH'] = scipy.stats.pearsonr(x=df_white['pH'], y=df_white.quality)
compare_white_df['sulphates'] = scipy.stats.pearsonr(x=df_white['sulphates'], y=df_white.quality)
compare_white_df['alcohol'] = scipy.stats.pearsonr(x=df_white['alcohol'], y=df_white.quality)

In [0]:
compare_white_df = compare_white_df.rename(index={0:'pearson coefficient',1:'p-val'})

In [0]:
compare_white_df.head()

                     fixed acidity  volatile acidity  ...  sulphates        alcohol
pearson coefficient  -1.136628e-01     -1.947230e-01  ...   0.053678   4.355747e-01
p-val                 1.479886e-15      4.673261e-43  ...   0.000171  5.614770e-226

[2 rows x 11 columns]

In [0]:
abv_mean = np.mean(test_df.alcohol)
quality_mean = np.mean(test_df.quality)
abv_std = np.std(test_df.alcohol)
quality_std = np.std(test_df.quality)

In [0]:
def pearson_abv(x):
  return (x-abv_mean)/abv_std
def pearson_quality(x):
  return (x-quality_mean)/quality_std

In [0]:
test_df['pearson_abv'] = test_df.alcohol

In [0]:
test_df['pearson_quality'] = test_df.quality.apply(pearson_quality)

In [0]:
scipy.stats.pearsonr(x=test_df.alcohol, y=test_df.quality)

(0.4761663239995364, 2.831476979241507e-91)

In [0]:
from google.colab import files

In [0]:
compare_red_df.to_csv('red_compare.csv')

In [0]:
compare_white_df.to_csv('white_compare.csv')

In [0]:
files.download('red_compare.csv')

In [0]:
files.download('white_compare.csv')